@charset "ISO-8859-1";


body
{
	background-color: #c0c0c0;

}
h1
{
	color:#80ffff;
}
p
{
	color:#c0c0c0;
}
input[type=text]
{
		background-color:#0080ff;
			background-position: 10px 10px;
				background-repeat: no-repeat;
				padding-left:40px;
}
table
{
	border:thin;
}
select
{
	background:#c0c0c0;
}